<!DOCTYPE html>
<html>
	<head>
		<title>InvoiceBucket</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  	</button>
					<a class="navbar-brand" href="/">InvoiceBucket | Hatósági adatszolgáltatás egyszerűen</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-main-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<% if(!username){ %>
							<li>
								<a href="/login">Bejelentkezés</a>
							</li>
							<li>
								<a href="/register">Regisztráció</a>
							</li>
						<% } else { %>
							<li>
								<a href="#">Bejelentkezve mint <strong><%= username.substring(0, 30) %></strong></a>
							</li>
							<li>
								<a href="/logout">Kijelentkezés</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
			<% if(username){ %>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-2" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-main-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li>
							<a href="/dashboard">Tranzakciók</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adatmódosítás<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/pass">Jelszó módosítása</a></li>
								<li><a href="/techdata">Technikai felhasználó adatai</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Számla adatainak lekérdezése<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/arinvoicedata">Vevői számla</a></li>
								<li><a href="/apinvoicedata">Szállítói számla</a></li>
							</ul>
						</li>
						<li>
							<a href="/taxpayerdata">Adózó adatainak lekérdezése</a>
						</li>
					</ul>
				</div>
			<% } %>
		</nav>
		
		<div class="container text-center">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>	
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success">
				<% if(success.length === 1) { %>
				   <%= success %>
				<% } else { %>
					<ul style="list-style-type:none;">
						<% success.forEach(function(suc) { %>
							<li> <%= suc %> </li>
						<% }) %>
					</ul>
				<% } %> 
			</div>
			<% } %>
		</div>
		
		<div class="container">
			<div class="jumbotron text-center">
		  		<h1>Vevő adatai</h1>
			</div>
			<div class="row">
				<div style="width: 30%; margin: 25px auto;">
					<form action="/transaction/<%= transaction.number %>/customer" method="POST" id="customerCS">
						<div class="form-group">
							<label>Adószám</label>
							<% if(transaction.customerTaxpayerId + transaction.customerVatCode + transaction.customerCountyCode == 0) {%>
							<input class="form-control" type="text" name="customerTaxNumber" value="">
							<% } else{ %>
							<input class="form-control" type="text" name="customerTaxNumber" value="<%= transaction.customerTaxpayerId + transaction.customerVatCode + transaction.customerCountyCode %>">
							<% } %>
						</div>
						<div class="form-group">
							<label>Név *</label>
							<input class="form-control" type="text" name="customerName" value="<%= transaction.customerName %>">
						</div>
						<div class="form-group">
							<label>Irányítószám *</label>
							<input class="form-control" type="text" name="customerPostalCode" value="<%= transaction.customerPostalCode %>">
						</div>
						<div class="form-group">
							<label>Település *</label>
							<input class="form-control" type="text" name="customerCity" value="<%= transaction.customerCity %>">
						</div>
						<div class="form-group">
							<label>További címadatok *</label>
							<input class="form-control" type="text" name="customerAdditionalAddressDetail" value="<%= transaction.customerAdditionalAddressDetail %>">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Mentés</button>
							<a href="/transaction/<%= transaction.number %>" class="btn btn-primary" allign="right">Vissza</a>
					  	</div>
					</form>
					
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
		<script type='text/javascript'>
			$('#customerCS').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					customerTaxNumber: {
						validators: {
							regexp: {
								regexp: /^[0-9]{8}[1-5]{1}[0-9]{2}$/,
								message: 'Érvénytelen formátum'
                    		}
						}
					},
					customerName: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					customerPostalCode: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							},
							regexp: {
								regexp: /^[A-Z0-9][A-Z0-9\s\-]{1,8}[A-Z0-9]$/,
								message: 'Érvénytelen formátum'
							}
						},
					},
					customerCity: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					customerAdditionalAddressDetail: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					}
				}
			});
		</script>
	
	</body>
</html>