<!DOCTYPE html>
<html>
	<head>
		<title>InvoiceBucket</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  	</button>
					<a class="navbar-brand" href="/">InvoiceBucket | Hatósági adatszolgáltatás egyszerűen</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-main-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<% if(!username){ %>
							<li>
								<a href="/login">Bejelentkezés</a>
							</li>
							<li>
								<a href="/register">Regisztráció</a>
							</li>
						<% } else { %>
							<li>
								<a href="#">Bejelentkezve mint <strong><%= username.substring(0, 30) %></strong></a>
							</li>
							<li>
								<a href="/logout">Kijelentkezés</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
			<% if(username){ %>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-main-navbar-collapse-2" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-main-navbar-collapse-2">
					<ul class="nav navbar-nav">
						<li>
							<a href="/dashboard">Tranzakciók</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adatmódosítás<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/pass">Jelszó módosítása</a></li>
								<li><a href="/techdata">Technikai felhasználó adatai</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Számla adatainak lekérdezése<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/arinvoicedata">Vevői számla</a></li>
								<li><a href="/apinvoicedata">Szállítói számla</a></li>
							</ul>
						</li>
						<li>
							<a href="/taxpayerdata">Adózó adatainak lekérdezése</a>
						</li>
					</ul>
				</div>
			<% } %>
		</nav>
		
		<div class="container text-center">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>	
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>	
			<% } %>
		</div>
		
		<div class="container">
			<div class="jumbotron text-center">
		  		<h1>Új sor a #<%= transaction.number %> tranzakcióhoz</h1>
			</div>
			<div class="row">
				<div style="width: 30%; margin: 25px auto;">
					<form action="/transaction/<%= transaction.number %>/line/" method="POST" id="lineeditCS">
						<div class="form-group">
							<label>Tétel megnevezése *</label>
							<input class="form-control" type="text" name="lineDescription">
						</div>
						<div class="form-group">
							<label>Mértékegység *</label>
							<select class="form-control" name="unitOfMeasure">
								<option value="" selected disabled>-Válassz-</option>
								<option value="PIECE">Darab</option>
								<option value="KILOGRAM">Kilogramm</option>
								<option value="TON">Tonna</option>
								<option value="KWH">Kilowattóra</option>
								<option value="DAY">Nap</option>
								<option value="HOUR">Óra</option>
								<option value="MINUTE">Perc</option>
								<option value="MONTH">Hónap</option>
								<option value="LITER">Liter</option>
								<option value="KILOMETER">Kilométer</option>
								<option value="CUBIC_METER">Köbméter</option>
								<option value="METER">Méter</option>
								<option value="LINEAR_METER">Folyóméter</option>
								<option value="CARTON">Karton</option>
								<option value="PACK">Csomag</option>
								<option value="OWN">Egyéni</option>
							</select>
						</div>
						<div class="form-group">
							<label>Egyéni mértékegység megnevezése</label>
							<input class="form-control" type="text" name="unitOfMeasureOwn">
						</div>
						<div class="form-group">
							<label>Mennyiség *</label>
							<input class="form-control" type="text" name="quantity">
						</div>
						<div class="form-group">
							<label>Egységár *</label>
							<input class="form-control" type="text" name="unitPrice">
						</div>
						<div class="form-group">
							<label>Érték *</label>
							<input class="form-control" type="text" name="lineGrossAmountSimplified">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Mentés</button>
							<a href="/transaction/<%= transaction.number %>" class="btn btn-primary" allign="right">Vissza</a>
					  	</div>
					</form>
					
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
		<script type='text/javascript'>
			$('#lineeditCS').bootstrapValidator({
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					lineDescription: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					unitOfMeasure: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							}
						}
					},
					quantity: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							},
							regexp: {	
								regexp: /^-?[0-9]{1,22}$/,
								message: 'Helytelen formátum'
							}
						}
					},
					unitPrice: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							},
							regexp: {	
								regexp: /^-?[0-9]{1,22}$/,
								message: 'Helytelen formátum'
							}
						}
					},
					lineGrossAmountSimplified: {
						validators: {
							notEmpty: {
								message: 'Kötelező mező'
							},
							regexp: {	
								regexp: /^-?[0-9]{1,18}$/,
								message: 'Helytelen formátum'
							}
						}
					}
				}
			});
		</script>
	</body>
</html>